@media screen and (max-width: 990px) {
  	header div img{
    	height: 82%;
    	margin-top: 11px;
  	}
  	.slick-dots{
    	display: none !important;
  	}
}

@media screen and (max-width: 830px) {
  	header{
    	display: none !important;
  	}
  	.mobile{
    	display: block;
  	}	
  	.top{
    	top: 80px;
  	}
  	#header-mobile{
    	width: 100%;
    	background: url(../image/svg/menu-pleca.svg);
    	height: 70px;
    	position: fixed;
    	z-index: 999;
  	}
  	#header-mobile img{
    	display: inline-block;
    	height: 90%;
    	padding: 15px;
  	}
  	#menu-mobile{
    	position: fixed;
    	left: -300px;
    	width: 270px;
    	height: 100vh;
    	margin-top: 70px;
    	overflow: scroll;
    	background: #8DFFF4; /*color de fondo que tiene la parte desplegable del menu*/
    	z-index: 999;
    	-webkit-transition: .55s all;
    	-moz-transition: .55s all;
    	-o-transition: .55s all;
    	transition: .55s all;
  	}
  	#menu-mobile.open{
    	left: 0;
  	}
   	#menu-mobile .op{
    	width: 100%;
    	height: 70px;
    	border-bottom: 2px solid #ACB3DF; /*color de las líneas de bloque que dividen al menu*/
    	text-align: center;
    	line-height: 70px;
    	color: black;
    	font-size: 22px;
    	font-weight: bold;
   	}
    #menu-mobile .op1{
    	width: 100%;
    	height: 100px;    
    	text-align: center;    
    	color: black;
    	font-size: 22px;
    	font-weight: bold;
   	}
   	.op1 #telefono{
   		width: 70%;
   		margin-right: 15px;
   		padding: 30px 15px;
   }
   .op1 .redes{
   		margin-right: 25px;
   		width: 30px;
   		height: 30px;
   }
   .cont-menu{
      	width: 100%;
      	height: 100%;
      	min-height: 630px;
   	}
  	/*Menu icon*/
  	#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    	width: 40px;
    	height: 35px;
    	position: relative;
    	margin: 17px;
    	float: right;
    	-webkit-transform: rotate(0deg);
    	-moz-transform: rotate(0deg);
    	-o-transform: rotate(0deg);
    	transform: rotate(0deg);
    	-webkit-transition: .5s ease-in-out;
    	-moz-transition: .5s ease-in-out;
    	-o-transition: .5s ease-in-out;
    	transition: .5s ease-in-out;
    	cursor: pointer;
  	}
  	/*BOTON DEL MENU*/
  	#nav-icon2 span {
    	display: block;
    	position: absolute;
    	height: 5px;
    	width: 50%;
    	padding-right: 15px;
    	background: #1E1E1E; /*color del boton del menu*/
    	opacity: 1;
    	-webkit-transform: rotate(0deg);
    	-moz-transform: rotate(0deg);
    	-o-transform: rotate(0deg);
    	transform: rotate(0deg);
    	-webkit-transition: .25s ease-in-out;
    	-moz-transition: .25s ease-in-out;
    	-o-transition: .25s ease-in-out;
    	transition: .25s ease-in-out;
  	}
  	#nav-icon2 span:nth-child(even) {
    	left: 50%;
    	border-radius: 0 9px 9px 0;
  	}
  	#nav-icon2 span:nth-child(odd) {
    	left:0px;
    	border-radius: 9px 0 0 9px;
  	}
  	#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    	top: 0px;
  	}
  	#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    	top: 14px;
  	}
  	#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    	top: 28px;
  	}
  	#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
    	-webkit-transform: rotate(45deg);
    	-moz-transform: rotate(45deg);
    	-o-transform: rotate(45deg);
    	transform: rotate(45deg);
    	background: #d3531a;
  	}
  	#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
    	-webkit-transform: rotate(-45deg);
    	-moz-transform: rotate(-45deg);
    	-o-transform: rotate(-45deg);
    	transform: rotate(-45deg);
    	background: #d3531a;
  	}
  	#nav-icon2.open span:nth-child(1) {
    	left: 5px;
    	top: 9px;
  	}
  	#nav-icon2.open span:nth-child(2) {
    	left: calc(50% - 5px);
    	top: 9px;
  	}
  	#nav-icon2.open span:nth-child(3) {
    	left: -50%;
    	opacity: 0;
  	}
  	#nav-icon2.open span:nth-child(4) {
    	left: 100%;
    	opacity: 0;
  	}
  	#nav-icon2.open span:nth-child(5) {
    	left: 5px;
    	top: 20px;
  	}
  	#nav-icon2.open span:nth-child(6) {
    	left: calc(50% - 5px);
    	top: 20px;
  	}

}

@media screen and (max-width: 575px){  

}

@media screen and (max-width: 425px) {

  	#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4{
    	margin: 13px 35px 23px 0 !important;
  	}

}
