@font-face {	
  	font-family: "Muli ExtraBold";
  	src: url("../fonts/muli/Muli-ExtraBold.ttf");
}
@font-face {
  	font-family: "Muli Regular";
  	src: url('../fonts/muli/Muli-Regular.ttf');
}
@font-face {
  	font-family: "Muli Light";
  	src: url('../fonts/muli/Muli-Light.ttf');
}
/*REGLAS GENERALES PARA TODO EL SITIO*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: black;
	margin: 0;
	padding: 0;
}
/*REGLAS PARA EL DOCUMENTO Y EL CUERPO*/
html, body {
	width: 100%;
	height: 100%;
	margin: auto;
	min-height: 730px;
	position: relative;
}
/*ENCABEZADO DEL SITIO*/
header{
  	width: 100%;
  	background-image: url("../image/svg/menu-pleca.svg");
  	background-repeat: no-repeat;  
  	position: fixed;
  	z-index: 999;
}
header div{
  height: 100%;
}
header nav {
	width:100%;
	margi-bottom:10px auto;
}
.menu_bar {
	display:none;
} 
header nav ul {
	overlow:hidden;
	list-style:none;
} 
header nav ul li {
	float:left;
}
header nav ul li a {
	color:#4D4D4D;
	padding:10px;
	padding-left: 5px;
	margin: 15px;
	display:block;
	text-decoration:none;
}
header nav ul li span {
	margin-right:10px;
}
header nav ul li a:hover {
	text-decoration:none;
}
section {
	width:100%;
	height: 100%,
}
.sinpadding [class*="col-"] {
    padding: 0;
}
.mobile{
	display: none;
}
.btn{
	cursor: pointer;
}
.servicios{
	background-color: #fff;		
	position:;
	width: 450px;
	height: 200px;
}
.open-submenu:hover ul.submenu{
	display: block;
    top: -24px;
    left: calc(100% - 1px);
}
.open-submenu:hover ul.submenu.left{
	display: block;
    top: -2px;
    left: -182px;
}
.contenedor{   
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 100%;
    /*background-image: url(image/logra-tus-objetivos-desktop.jpg);*/
}
.contenedor2{   
	background-image: url("../image/logra-tus-objetivos-desktop.jpg");
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    height: 100%;
    
}

.encabezado{
 	font-family:Muli ExtraBold;
 	font-size: 28px;
 	color:#ACB3DF;
 	padding-top: 100px;
}
.negro{
	background-color: #1E1E1E; 
}
.texto{
	font-family: Muli Light;
	font-size: 18px;
	color:#ACB3DF;
}
.texto3{
	font-family: Muli Light;
	font-size: 18px;
	color:#ACB3DF;
	
	margin-top: 50px;
	margin-bottom: 30px;
}
.texto2{
	font-family: Muli ExtraBold;
	font-size: 18px;
	color:#ACB3DF;
}	
#logo{
	width: 80%;
    margin-top: 15px;
    margin-left: 25px;
}
.texto-encima{
    position: absolute;
    top: 60%;
    left: 40%;
    font-family:Muli Light;
    font-size: 18px;
}
.texto-encima2{
    position: absolute;
    top: 25%;
    left: 25%;
    font-family:Muli Light;
    font-size: 28px;
}
.image-responsive{
	width:100%;
}
.imchica{
	width: 40%;
}
.espacio{
	margin-top: 45px;
}


.im{
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.im:hover{
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}
.reduite{
	width: 70%;
	margin-left: 60px;
	margin-right: 40px;
}
.telefono{
	width: 50%;
	padding-left: 40px;
}
.image-responsive3{
	width:110%;	
}
.scroll{
	margin-top: 35px;
	width: 10%	
}
.top{
	margin-top: 150px;
}
.im1{
	height: 80%;
	width:100%;
}
.formulario{
	background:#FFFFFF;
	opacity: 60%;
	outline: #4D4D4D;
	font-size: 18px;
	font-family: Muli Light;
}
.boton{
	width: 160px;
	margin-top: 10px;
	padding: 5px;
	font-weight: 600;
	font-family: Muli Regular;
	font-size: 18px;
	background-color: #242D63; /*color botón*/
	color: #8DFFF4; /*color texto*/
	text-decoration: none; /*decoración texto*/
}
.boton:hover{

	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}
.cita{
	margin-top: -10px;
	font-family: Muli ExtraBold;
	font-size: 28px;
	color:#4D4D4D ;
}
.foot{
	margin-top: 75px;
	color: #4D4D4D;
	font-size: 13px;
	font-family: Muli Light; 
}